<div class="container">
      <header class="cube-header" >
          <div>
              <span class="contact-group">
                  <i class="fa fa-phone"></i>
                  <span class="contact-number">+234 7050522615</span>
                </span>
                <span class="contact-group">
                    <i class="fa fa-phone"></i>
                    <span class="contact-number">+234 7062344673</span>
                </span>
                <span class="contact-group">
                  <i class="fa fa-envelope"></i>
                  <span class="contact-number">cubelinksa1@gmail.com</span>
                </span>
               
          </div>
          <div>
              <span><i class="fa fa-facebook"></i></span>
              <span><i class="fa fa-instagram"></i></span>
          </div>
          
        </header>
        <section class="cubelinks-logo-frame">
            <span class="logo-container">
              <img src=".././assets/cubelinks_pix/PIX4.jpg" class="logo" />
            </span>
            <div>
              <div class="cube-links">
                CUBE  LINKS
              </div>
              <div class="edu-service">
                INTERNATIONAL EDUCATIONAL SERVICES
              </div>
            </div>

        </section>
  </div>
